<html>

<head>
    <link rel="stylesheet" href="css.css">
</head>

<body>
    <div>
        <header class="mainHeader">
            header
        </header>
        <div class="mainDiv">
            <div class="secondDiv">
                <nav class="navigation">
                    nav
                </nav>
                <section class="mainSection">
                    section
                    <header class="sectionHeader">
                        header
                    </header>
                    <article class="sectionArticle">
                        article
                    </article>
                    <footer class="sectionFooter">
                        footer
                    </footer>
                </section>
            </div>

            <aside class="mainAside">
                aside
            </aside>
        </div>
        <footer class="mainFooter">
            footer
        </footer>
    </div>

</body>

</html>